---
import Section from "../components/Section.astro";
import HeroSectionActions from "../components/HeroSectionActions.astro";
import HeroSectionBackground from "../components/HeroSectionBackground.astro";
---

<Section
  title="Disfrute de Tesla"
  description=" Programe una prueba de conducción hoy mismo"
  textColor="white"
  headerColor="white"
>
  <HeroSectionActions slot="actions" />
  <HeroSectionBackground slot="bg" />
</Section>
